<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css" />
    <title>cc-homework-w4-d2</title>
  </head>
  <body>
    <nav>
      <a href="/table/customers/new">New Customer</a> |
      <a href="/table/customers">View Customers</a>
    </nav>
    <br />
    <%= yield %>
  </body>
</html>
